extends layout
block content
    h1= title
    p Welcome to #{title}
    p data !{data}
    div(class='CSSTableGenerator')
        table
        thead
            tr
                th City
                th State
                th weather-info
        tbody
            if data
            items = {data}
        each item, i in items
            tr
                td #{item['city']}
                td #{item['state']}
                td #{item['info']}
